<h1>Editing Page</h1>
<br/>

<%= render 'sortable_form' %>
<br/>
<%#= render 'form' %>

<div class="links">
<%= link_to 'Show This Page', [:admin, @page] %> |
<%= link_to 'View All Pages', admin_pages_path %>
</div>