<div class="row">
  <div class="col-sm-offset-3 col-sm-9">
    <h1>Editing Page</h1>
  </div>
</div>
<br/>

<%= render 'sortable_form' %>
<br/><br/>
<%#= render 'form' %>
<br/>


<%= link_to 'Show', [:admin, @page] %> |
<%= link_to 'Back', admin_pages_path %>
