
    <h1>Create New Group</h1>
<br/>
<!-- <a href="#" id="username" data-type="text" data-pk="1" data-url="/post" data-title="Enter username">superuser</a> -->

<%= render 'sortable_form' %>

<%#= render 'form' %>

<div class="links">
<%= link_to 'View All Groups', admin_pages_path %>
</div>

<script type="text/javascript">
$(document).ready(function() {
  $('#username').editable({
      // type: 'text',
      // url: '/pages',
      // pk: 1,
      // title: 'Enter username',
      // ajaxOptions: {
      //     type: 'put'
      // }    
  });
});
</script>