<div class="row">
  <div class="col-sm-offset-3 col-sm-9">
    <h1>Editing Webclip</h1>
  </div>
</div>
<br/>
<%= render 'form' %>

<%= link_to 'Show', admin_webclip_path(@webclip) %> |
<%= link_to 'Back', admin_webclips_path %>
