<div class="row">
  <div class="col-sm-offset-3 col-sm-9">
    <h1>New Webclip</h1>
  </div>
</div>
<br/>

<%= render 'form' %>

<div class="links">
<%= link_to 'View All Webclips', admin_webclips_path %>
</div>