/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui
 *= require bootstrap
 *= require bootstrap-editable
 *= require_tree .
 *= require_self
 */

body{
  color: #2c3e50;
  padding-top: 80px;
}

a, a:visited {
  color: #1BA357;
  text-decoration: none;
}
a:hover, a:active{
  color: #1EB862;
  text-decoration: underline;
  background-color: transparent;
}
a:active{
  color: #43D483;
}
h1{
  margin-top: 0;
}
td h4{
  margin: 5px 0;
}
.navbar-inverse {
background-color: #2C3E50;
border-bottom: none;
}
.navbar-inverse .navbar-brand{
  color: #44DF85;
}
.navbar-inverse .navbar-nav > li > a {
color: #ddd;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
color: #FFF;
border-bottom: 3px solid #2ECC71;
background-color: #1A242F;
}
.container.content{
  padding-bottom: 40px
}
.btn{
  border-radius: 0;
}
.btn-default, a.btn-default{color:#fff;background-color:#1EB862;border-color:#1EB862}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open
.dropdown-toggle.btn-default{color:#fff;background-color:#1BA357;border-color:#1BA357}

.btn-danger {
  color:#fff;
  background-color:#f15f4c;
  border-color:#ef4a34
}
.btn-danger:hover,.btn-danger:focus,.btn-danger:active,.btn-danger.active,.open.dropdown-toggle.btn-danger{
  color:#fff;
  background-color:#ee3d26;
  border-color:#d62711
}
ul.page_show{
  list-style-type: none;
  padding: 0;
  margin: 0;
}
ul.page_show li{
  display: inline-block;
  margin: 0 10px 20px 0;
  text-align: center;
}
ul.page_show li div{
  width: 120px;
  padding: 10px;
  border: 1px solid #eee;
  background-color: #f5f5f5;
  margin-bottom: 2px;
}
ul.page_show li div h5{
  text-align: center;
}
ul.page_show li p a{
  border: 1px solid #eee;
  background-color: #f5f5f5;
  float: right;
  width: 59%;
}
ul.page_show li p a:first-child{
  float: left;
  width: 39%;
}
.sortable1_wrapper{
  border: 5px solid #eee;
}
.sortable2_wrapper{
  border: 5px solid #5BC088;
}
#sortable1, #sortable2 {
  min-height: 135px;
  list-style-type: none;
  margin: 0;
  padding: 5px 0 0 0;
  overflow: auto;
}

#sortable1 li, #sortable2 li {
  margin: 0 5px 5px 5px;
  padding: 10px 10px 5px 10px;
  font-size: 1.2em;
  float: left;
  background-image: none;
  background-color: #f5f5f5;
  border-color: #eee;
  text-align: center;
  width: 120px;
  height: 125px;
  overflow: hidden;
}
#sortable1 li:hover, #sortable2 li:hover{
  cursor: move;
}
#sortable1 li img, #sortable2 li img, .page_show li img{
  height: 70px;
}
#sortable1 li.sortable_placeholder, #sortable2 li.sortable_placeholder{
  width: 120px;
  min-height: 120px;
  background-color:  #EFF7F2;
  border: 1px dashed #D3ECDE;
}
.links{
  margin-top: 20px;
  color: #888;
  text-shadow: 1px 1px 1px #fff;
  background-color: #f5f5f5;
  padding: 15px;
}
.links a{
  display: inline-block;
  margin: 0 5px;
}
.show_label{
  font-weight: 600;
  text-align: right;
}
textarea.form-control#image_base64_string{
  height: 200px;
}
.form-webclip .radio label > input{ /* HIDE RADIO */
  display:none;
}
.webclip_webclip_icon .inner-wrapper{
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  padding: 10px 0 20px 0;
  max-height: 180px;
  overflow-y: scroll;
  -moz-box-shadow: inset 0 0 8px #ccc;
  -webkit-box-shadow: inset 0 0 8px #ccc;
  box-shadow: inset 0 0 8px #ccc;
  margin-top: 10px;
}
.form-webclip .radio label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:3px solid transparent;
}
.form-webclip .radio label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  border:3px solid #1EB862;
  background-color: #fff;
}
.webclip_webclip_icon span.radio{
  display: inline-block;
}
.push-right-sm{
  text-align: right;
}
.icon_small img{
  height: 50px;
}
.table{
  border-bottom: 2px solid #DDD;
}
@media (max-width: 767px){
  .show_label{
    text-align: left;
    margin-bottom: 5px;
  }
  .push-right-sm{
    text-align: left;
  }
}