/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap
 *= require_tree .
 *= require_self
 */

body{
  color: #2c3e50;
  padding-top: 80px;
}

a, a:visited {
  color: #1BA357;
  text-decoration: none;
}
a:hover, a:active{
  color: #1EB862;
  text-decoration: underline;
  background-color: transparent;
}
a:active{
  color: #43D483;
}

.navbar-inverse {
background-color: #2C3E50;
border-bottom: none;
}
.navbar-inverse .navbar-brand{
  color: #44DF85;
}
.navbar-inverse .navbar-nav > li > a {
color: #ddd;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
color: #FFF;
border-bottom: 3px solid #2ECC71;
background-color: #1A242F;
}

.btn{
  border-radius: 0;
}
.btn-default{color:#fff;background-color:#1EB862;border-color:#1EB862}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open
.dropdown-toggle.btn-default{color:#fff;background-color:#1BA357;border-color:#1BA357}

.btn-danger {
  color:#fff;
  background-color:#f15f4c;
  border-color:#ef4a34
}
.btn-danger:hover,.btn-danger:focus,.btn-danger:active,.btn-danger.active,.open.dropdown-toggle.btn-danger{
  color:#fff;
  background-color:#ee3d26;
  border-color:#d62711
}
ul.page_show{
  list-style-type: none;
  padding: 0;
  margin: 0;
}
ul.page_show li{
  display: inline-block;
  margin: 0 10px 10px 0;
  text-align: center;
}
ul.page_show li div{
  width: 120px;
  padding: 10px;
  border: 1px solid #eee;
  background-color: #f5f5f5;
}
ul.page_show li div h5{
  text-align: center;
}
ul.page_show li span a{
  color: #aaa;
}