// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html{
  height: 100%;
}
body.frontend{
  padding-top: 0;
  height: 100%;
}
body.frontend .body_wrapper{
  padding: 30px 0;
  position: relative;
}
body.frontend .wrapper{
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -73px;
  padding: 0 0 73px;
}
body.frontend .footer_wrapper{
  padding: 20px 0 15px 0;
}
body.frontend .header_wrapper_1 h1{
  text-align: center;
  margin: 30px 0;
}
body.frontend .header_wrapper_1 img{
  max-width: 310px;
  max-height: 80px;
}
body.frontend .header_wrapper_2{
  position: relative;
}
body.frontend .header_wrapper_2 a.link_up{
  left: 10px;
}
body.frontend .header_wrapper_2 a.link_down{
  right: 10px;
}

body.frontend .header_wrapper_2 h2{
  text-align: center;
  margin: 15px 0;
}
body.frontend a:hover {
  cursor: pointer;
  text-decoration: none;
}
body.frontend .header_wrapper_2 a.link_up, body.frontend .header_wrapper_2 a.link_down{
 position: absolute;
 top: 10px;
 opacity: .2;
 font-size: 28px;
}
body.frontend .header_wrapper_2 a.link_up:hover, body.frontend .header_wrapper_2 a.link_down:hover {
  opacity: .5;
}
body.frontend .header_wrapper_2 a.link_up:active, body.frontend .header_wrapper_2 a.link_down:active {
  opacity: .8;
}
.webclip img{
  height: 70px;
}

/*  THUMBS LAYOUT */

.thumbs .webclip{
  text-align: center;
  display: block;
  overflow: auto;
  padding-top: 10px;
  margin-bottom: 10px;
}
.thumbs .webclip h3{
  font-size: 14px;
  margin-top: 10px;
}
.thumbs .row {
margin-left: -5px;
margin-right: -5px;
}

.thumbs .col-xs-4, .thumbs .col-sm-6  {
position: relative;
min-height: 1px;
padding-left: 5px;
padding-right: 5px;
}


/*  LIST LAYOUT */
.list .webclip{
  display: block;
  padding: 10px;
  overflow: auto;
  margin-bottom: 10px;
}
.list .webclip img{
  float: left;
  display: block;
  margin-right: 20px;
}
.list .webclip h3{
  margin-top: 0;
}


/*  DEFAULT THEME */

body.frontend.default_theme{
  color: #2C3E50; /* text, links and dark backgrounds */
  background-color: #ECF0F1; /* body bg and links on dark backgrounds */
}
body.frontend.default_theme a, body.frontend.default_theme a:visited {
  color: #2C3E50;
}
body.frontend.default_theme a.webclip:hover{
  background: rgba(255, 255, 255, 0.5); 
}
body.frontend.default_theme a.webclip:active{
  opacity: .8;
  background: rgba(255, 255, 255, 0.8); 
}
p, ol, ul{
  font-family: inherit;
}

body.frontend.default_theme .header_wrapper_1 h1 a:hover{
  opacity: .8;
}
body.frontend.default_theme .header_wrapper_1 h1 a:active{
  opacity: .6;
}
body.frontend.default_theme .header_wrapper_2{
  background-color: #2C3E50;
  border-top: 1px solid #1a242f; /* borders and dark shadows */
  border-bottom: 1px solid #1a242f;
}
body.frontend.default_theme .header_wrapper_2 h2{
  color: #ECF0F1;
  font-size: 20px;
  text-shadow: 1px 1px 1px #1a242f;
}
body.frontend.default_theme .footer_wrapper{
  background-color: #2C3E50;
  border-top: 1px solid #1a242f;
}
body.frontend.default_theme .webclip{
  border-radius: 4px;
}
body.frontend.default_theme .webclip h3{
  text-shadow: 1px 1px 1px #fff;
}
body.frontend.default_theme .webclip img{
  border-radius: 4px;
  border-top: 1px solid #ddd;
  background-color: #fff;
}
body.frontend.default_theme .thumbs .webclip img{
  box-shadow: 0 3px 3px -1px #444;
  border-top: 1px solid #ddd;
}
body.frontend.default_theme .footer_wrapper nav a{
  display: inline-block;
  line-height: 32px;
  margin: 0 5px 5px 0;
  padding: 0 8px;
  color: #ECF0F1;
  font-weight: 600;
  border-radius: 4px;
  text-shadow: 1px 1px 1px #1a242f;
}
body.frontend.default_theme .footer_wrapper nav a:hover{
  text-decoration: none; 
  cursor: pointer;
  background-color: #fff;
  color: #2C3E50;
  opacity: .3;
  text-shadow: none;
}
body.frontend.default_theme .footer_wrapper nav a:active {
  opacity: .6;
}
body.frontend.default_theme .header_wrapper_2 a.link_up, body.frontend.default_theme .header_wrapper_2 a.link_down{
  color: #fff;
}

