<div class="row">
  <div class="col-sm-offset-3 col-sm-9">
    <h1>Editing Image</h1>
  </div>
</div>
<br/>

<%= render 'form' %>

<%= link_to 'Show', @image %> |
<%= link_to 'Back', admin_images_path %>
