<div class="row">
  <div class="col-sm-offset-3 col-sm-9">
    <h1>New Image</h1>
  </div>
</div>
<br/>

<%= render 'form' %>
<div class="links">
<%= link_to 'View All Images', admin_images_path %>
</div>
